accelerate=1.5.2=pypi_0
fastapi=0.115.12=pypi_0
huggingface-hub=0.30.1=pypi_0
ninja=1.11.1.4=pypi_0
nltk=3.9.1=pypi_0
numpy=1.26.4=pypi_0
openai=1.70.0=pypi_0
pandas=2.2.3=pypi_0
pip=25.0.1=pyh8b19718_0
safetensors=0.5.3=pypi_0
scipy=1.15.2=pypi_0
setuptools=75.8.2=pyhff2d567_0
torch=2.6.0=pypi_0
tqdm=4.67.1=pypi_0
transformers=4.50.3=pypi_0
vllm=0.8.3=pypi_0
